#main {
    background-color: lightgray;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.6;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0 15px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    margin: 10px 110px;
}

#headline {
    margin: 50px 0;
}

ul {
    max-width: 700px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

blockquote {
    font-style: italic;
    max-width: 650px;
    margin: 0 auto 20px auto;
    text-align: left;
}